<strong>Veranstaltungsübersicht</strong>

<p>Der Feier steht nichts mehr im Weg.</p>

<form class="form-horizontal">
    <input type="hidden" cam-variable-name="title" ng-model="title"/>
    <input type="hidden" cam-variable-name="location" ng-model="location"/>
    <input type="hidden" cam-variable-name="date" ng-model="date"/>
    <input type="hidden" cam-variable-name="weatherStr" ng-model="weather"/>
    <input type="hidden" cam-variable-name="description" ng-model="description"/>
    <input type="hidden" cam-variable-name="suggesstion" ng-model="suggesstion"/>

    <div class="control-group">
        <p><label class="control-label">Veranstaltungstitel</label><br />{{title}}</p>
        <p><label class="control-label">Ort</label><br />{{location}}</p>
        <p><label class="control-label">Datum</label><br />{{date}}</p>
        <p><label class="control-label">Wetter</label><br />{{weather}}</p>
        <p><label class="control-label">Kleidungsempfehlung</label><br />{{suggesstion}}</p>
        <p><label class="control-label">Beschreibung</label><br />{{description}}</p>
    </div>
    <script cam-script type="text/form-script">
    </script>
</form>