<strong>Neuplanung</strong>

<p>Bitte aktualisieren Sie entweder den Veranstaltungsort, den Veranstaltungszeitpunkt oder beide.</p>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Ort</label>
        <div class="controls">
            <input type="text" cam-variable-name="location" cam-variable-type="String" required class="form-control"/>
        </div>
        <label class="control-label">Datum</label>
        <div class="controls">
            <input type="text" cam-variable-name="date" cam-variable-type="Date" required class="form-control"/>
        </div>
    </div>

    <script cam-script type="text/form-script">
	</script>
</form>